/* MI CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GLOBAL */
body{
    background-color: #FBFDED;
}

.grid-area{
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "logo menu menu"
        "cont cont cont"
        "cont cont cont"
        "pie pie pie";
}
header{
    background-color:  #000f33;
    grid-area: logo;
}
nav{
    background-color: #000f33;
    grid-area: menu;
}
main{
    background-color: #FBFDED;
    grid-area: cont;
}
footer{
    background-color: #000f33;
    grid-area: pie;
}

#header,
nav{
    display: grid;
    height: 90px;
}
#header .logo a img{
    width: 90px;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
}
.container-fluid img{
    width: 70px;
    margin: 20px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu a,
.offcanvas-body a{
    text-decoration: none;
    color: #FBFDED;
    font-family: "Anie";
}
.menu a:hover{
    color: #ff6a4f;
    border-bottom: 1px solid #ff6a4f;
    padding-bottom: 5px;
    font-weight: 600;
}
nav.navbar,
footer.footer-color{
    background-color: #000f33 !important;
}
div.offcanvas{
    background-color: #000f33bf !important;
    text-align: center;
    font-size: 1.5rem;
}
.offcanvas-body a:hover{
    color: #ff6a4f;
    border-top: 1px solid #ff6a4f;
    border-bottom: 1px solid #ff6a4f;
    padding-bottom: 5px;
    font-weight: 600;
}

#footer{
    display: grid;
    padding: 15px 0px;
}
#footer a{
    border-radius: 50%;
}
#footer a:hover{
    box-shadow:0px 0px 8px #878786c7;
    opacity: 0.8;
}
#footer .copy{
    display: grid;
    align-items: stretch;
    justify-content: stretch
}
#footer .copy p{
    color: #cdcacab8;
    font-family: "Gotu Regular";
    font-weight: 100;
    font-size: 10px;
    align-content: right;
    margin-top: 20px;
    margin-bottom: 2px;
}
#footer .redes-sociales{
    display: inline-block;
    margin: auto;
}
#footer .copy{
    display: flex;
    justify-content: center;
}