@media(min-width: 768px){
    nav{
        .navbar{
        display: none;
        }
    }
}
@media(max-width: 768px){
    html{
        font-size: 70%;
    }
    #header{
        display: none;
    }
}
@media(min-width: 768px){
    main{
        .main{
            .accordion{
                margin-bottom: 40px;
            }
        }
    }
}