/* HOME */
main.main div.intro {
  margin: 20px 0px;
  background-color: #d6621e;
}
main.main div.intro h1 {
  color: #FBFDED;
  text-align: center;
  font-family: "Anie";
  font-size: 3rem;
}
main.main div h3 {
  margin-top: 30px;
  padding: 10px;
  background-color: #000f33;
  color: #FBFDED;
  text-align: center;
  font-family: "Gotu Regular";
  font-weight: 200;
  font-size: 1.5rem;
}
main.main .container .cardCont {
  transition: 0.5s;
}
main.main .container .cardCont .card .card-body p {
  font-family: "Gotu Regular";
}
main.main .container .cardCont:hover {
  transform: scale(1.1);
}
main.main .btnVerMas {
  float: right;
  margin: 20px;
}

/* PRODUCTOS*/
div.container .prodCard {
  transition: 0.5s;
}
div.container .prodCard .card .card-body p {
  font-family: "Gotu Regular";
}
div.container .prodCard:hover {
  transform: scale(1.1);
}

/* CONTACTO */
main.mainContacto {
  font-family: "Gotu Regular";
  background-image: url(../img/zoomInDv.jpeg);
  background-size: cover;
  background-position: center;
}
main.mainContacto .info {
  background-color: rgba(166, 93, 3, 0.8784313725);
  color: #d4d6d7;
  font-size: 1rem;
  width: 40%;
  height: auto;
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
}
main.mainContacto .formulario {
  margin: 10px;
  background-color: rgba(166, 93, 3, 0.8784313725);
  color: #FBFDED;
  font-size: 0.5rem;
  width: 60%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 15px;
}
main.mainContacto .formulario h3 {
  color: #FBFDED;
  text-align: center;
  font-weight: 600;
}

/* ABOUT US */
.main .texto p {
  font-family: "Gotu Regular";
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  background-color: #d6611e;
  margin: 20px 0;
}
.main .btnVerMas {
  float: left;
  margin: 20px;
}

/* FAQs */
.mainFaqs {
  background: linear-gradient(#00206c, #ba4e0f);
}
.mainFaqs h2.title {
  text-align: center;
  font-family: "Anie";
  font-weight: 600;
  font-size: 3rem;
  color: #FBFDED;
}
.mainFaqs .accordion {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.mainFaqs .accordion .accordion-button {
  font-weight: 600;
}
.mainFaqs .accordion p, .mainFaqs .accordion h2 {
  font-family: "Gotu Regular";
  font-size: 1rem;
}

@media (min-width: 768px) {
  nav .navbar {
    display: none;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  #header {
    display: none;
  }
}
@media (min-width: 768px) {
  main .main .accordion {
    margin-bottom: 40px;
  }
}